1                       ICON                    "icon.ico"

STRINGTABLE BEGIN
    2               "LOGIC"
END

3 MENU
{
     POPUP "&File"
     {
          MENUITEM "&New\tCtrl+N", 100
          MENUITEM "&Open\tCtrl+O", 101
          MENUITEM "&Save\tCtrl+S", 102
          MENUITEM "&Save as ...", 103
          MENUITEM SEPARATOR
          MENUITEM "&Print", 104
          MENUITEM SEPARATOR
          MENUITEM "&Exit\tAlt+F4", 105
     }
     POPUP "&Edit"
     {
          MENUITEM "&Undo\tCtrl+Z", 200
          MENUITEM "&Redo\tCtrl+Y", 201
          MENUITEM SEPARATOR
          MENUITEM "&Cut\tCtrl+X", 202
          MENUITEM "&Copy\tCtrl+C", 203
          MENUITEM "&Paste\tCtrl+P", 204
          MENUITEM "&Delete\tDelete", 205
          MENUITEM SEPARATOR
          MENUITEM "&All Select\tCtrl+A", 206
          MENUITEM "&All UnSelect\tCtrl+U", 207
     }
     POPUP "&View"
     {
          MENUITEM "&Tool bar", 301
          MENUITEM "&Status bar", 301
     }
     POPUP "&Tool"
     {
          MENUITEM "&Console", 400
          MENUITEM SEPARATOR
          MENUITEM "&Settings", 401
     }
     POPUP "&Window"
     {
          MENUITEM "&Input Window", 500
          MENUITEM "&Output Window", 501
          MENUITEM "&Property Window", 502
          MENUITEM "&Debug Window", 503
     }
     POPUP "&Help"
     {
          MENUITEM "&Content", 600
          MENUITEM SEPARATOR
          MENUITEM "&Check Update", 601
          MENUITEM SEPARATOR
          MENUITEM "&About\tF1", 602
     }
}

4 DIALOGEX 0, 0, 170, 62
STYLE -2134376248
CAPTION "バージョン情報 LOGIC"
FONT 9, "MS UI Gothic"
BEGIN
    ICON            1,-1,14,14,21,20
    LTEXT           "LOGIC, バージョン 1.0",-1,42,14,114,8,128
    LTEXT           "Copyright (c) 2022-",-1,42,26,114,8
    DEFPUSHBUTTON   "OK",1,113,41,50,14,131072
END

5 DIALOGEX 0, 0, 170, 62
STYLE -2134376248
CAPTION "Debug"
FONT 9, "MS UI Gothic"
BEGIN
    EDITTEXT 1, 0, 0, 170, 62, 128
END